/* .cart-sec{
    display: flex;
    justify-content: space-evenly;
    margin-top: 95px;
    padding: 20px;
    font-family: 'Urbanist', sans-serif;
    
}
.checkout-sec{
   background-color: #FFA500;
   width: 30%;
   height: 60vh;
   border-radius: 6px;
   line-height: 2rem;
   padding: 20px;
   font-size: 18px;
}
.fname>input, .number>input{
    width: 100%;
    border-radius: 10px;
    border: none;
    outline: none;
    font-family: 'Urbanist', sans-serif;
    padding: 6px;
    font-size: 14px;

}

.checkout-quantity{
    display: flex;
    justify-content: space-between;
}
.checkout-price{
    display: flex;
    justify-content: space-between;
}
.checkout-btn{
    width: 100%;
    font-family: 'Urbanist', sans-serif;
    padding: 4px;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    
} */
/* .product-list  .fas{
    color: black;
    font-size: 14px;
} */

/*---------------------------list of products--------------------*/
/* .products-cart{
    box-shadow: 4px 0px 4px #bbb;
    width: 30%;
}

.product-list img{
    width: 50px;
    border-radius: 5px;
}
.product-list {
  display: flex;
  justify-content: space-evenly;
  padding: 10px 20px;
  gap: 10px
  ;
} */



